---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
IndentCaseLabels: false
PointerAlignment: Left
SpaceAfterCStyleCast: true
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInAngles: false
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
IncludeBlocks: Regroup
SortIncludes: true
